#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px; 
    margin: auto;
    
}

.cell {
    background: lightblue;
    border: 1px solid #333;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 75px;
    cursor: pointer;
}

#gameContainer{
    font-family: 'Gill Sans', 'Gill Sans MT', cursive, 'Trebuchet MS', sans-serif;
    text-align: center;
}